
@font-face {
  font-family: Font;
  src: url('iconfont.eot?t=1498715216087'); /* IE9*/
  src: url('iconfont.eot?t=1498715216087#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498715216087') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498715216087') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498715216087#CIACloud-font') format('svg'); /* iOS 4.1- */
}

.CIACloud-font {
	display: inline-block;
	font: normal normal normal 14px/1 Font;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear
}
.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8)
}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

/* 字体动画 */

.icon-icon20:before { content: "\e61c"; }

.icon-10:before { content: "\e60c"; }

.icon-shouji:before { content: "\e737"; }

.icon-share123:before { content: "\e600"; }

.icon-search:before { content: "\e6ac"; }

.icon-account:before { content: "\e6b8"; }

.icon-share:before { content: "\e604"; }

.icon-loading:before { content: "\e60d"; }

.icon-fanhui:before { content: "\e632"; }

.icon-qqkongjian:before { content: "\e616"; }

.icon-Personal:before { content: "\e607"; }

.icon-weixin:before { content: "\e69e"; }

.icon-icon363601:before { content: "\e658"; }

.icon-scanning:before { content: "\e6ec"; }

.icon-location_1:before { content: "\e665"; }

.icon-zhongyaozhuanqu:before { content: "\e608"; }

.icon-anquan:before { content: "\e64e"; }

.icon-patient:before { content: "\e6c4"; }

.icon-icon0101:before { content: "\e610"; }

.icon-duihao:before { content: "\e603"; }

.icon-jiazaishang:before { content: "\e63b"; }

.icon-jiazaixia:before { content: "\e63c"; }

.icon-shijian:before { content: "\e61b"; }

.icon-guanbi1:before { content: "\e723"; }

.icon-jiahao1:before { content: "\e727"; }

.icon-shezhi:before { content: "\e64b"; }

.icon-wodefankui:before { content: "\e656"; }

.icon-yuyin:before { content: "\e64f"; }

.icon-jiage:before { content: "\e613"; }

.icon-hospital:before { content: "\e615"; }

.icon-301:before { content: "\e67c"; }

.icon-gongju:before { content: "\e653"; }

.icon-jiazai:before { content: "\e675"; }

.icon-pen:before { content: "\e676"; }

.icon-huizhen:before { content: "\e612"; }

.icon-fabu:before { content: "\e631"; }

.icon-Message:before { content: "\e66e"; }

.icon-touxiang:before { content: "\e639"; }

.icon-dingwei3:before { content: "\e66a"; }

.icon-gerenlvli:before { content: "\e605"; }

.icon-weixinshoucang:before { content: "\e688"; }

.icon-zuojiantou:before { content: "\e626"; }

.icon-team:before { content: "\e601"; }

.icon-chufa:before { content: "\e60b"; }

.icon-yuyin_left:before { content: "\e788"; }

.icon-laixiaoluxian:before { content: "\e611"; }

.icon-qianbao2:before { content: "\e643"; }

.icon-jiazai1:before { content: "\e61d"; }

.icon-caijitongji:before { content: "\e64c"; }

.icon-loading1:before { content: "\e617"; }

.icon-renzheng:before { content: "\e619"; }

.icon-jiage3:before { content: "\e606"; }

.icon-shoucang:before { content: "\e86d"; }

.icon-shoucang1:before { content: "\e86f"; }

.icon-xihuan:before { content: "\e872"; }

.icon-xihuan1:before { content: "\e873"; }

.icon-zan:before { content: "\e874"; }

.icon-zan1:before { content: "\e875"; }

.icon-Home:before { content: "\e602"; }

.icon-gongzuotai1:before { content: "\e60a"; }

.icon-hospital2:before { content: "\e609"; }

.icon-qianbao:before { content: "\e698"; }

.icon-noun__cc:before { content: "\e614"; }

.icon-hospital3:before { content: "\e7ca"; }

.icon-Activity:before { content: "\e66f"; }

.icon-dingdingjiudianduan_yinhangqia:before { content: "\e673"; }

.icon-selfmedicine:before { content: "\e648"; }

.icon-radar-chart:before { content: "\e886"; }

.icon-tongguorenzheng:before { content: "\e701"; }

.icon-yuyin_right-copy:before { content: "\e8a3"; }

.icon-biaoti:before { content: "\e657"; }

.icon-GPS:before { content: "\e8a4"; }

.icon-location_1-copy:before { content: "\e8a5"; }

