<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"
    />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <style type="text/css">
        .aui-list-item-input {
            margin: 3px;
        }

        .aui-btn {
            width: auto;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-input">
                            <textarea v-model="content" placeholder="请输入内容..."></textarea>
                        </div>
                    </div>

                </li>

            </ul>
            <div>
                <div class="aui-btn aui-btn-danger  aui-btn-block aui-btn-sm" @click="save()">保存</div>

                <section class="aui-chat" v-for="item in items">
                    <div class="aui-chat-item aui-chat-left">
                        <div class="aui-chat-media">
                            <img :src="userimg" />
                        </div>
                        <div class="aui-chat-inner">
                            <div class="aui-chat-name">{{user_name}}
                                <!-- <span class="aui-label aui-label-warning">等级</span> -->
                            </div>
                            <div class="aui-chat-content">
                                <div class="aui-chat-arrow"></div>
                                {{item.content}}
                            </div>
                            <div class="aui-chat-status aui-chat-status-refresh">
                                <i class="aui-iconfont aui-icon-correct aui-text-success"></i>
                            </div>
                        </div>
                    </div>
                    <div class="aui-chat-item aui-chat-right" v-if="item.is_look==1">
                        <div class="aui-chat-media">
                            <img src="http://res-qiniu.12xue.com/bao.png" />
                        </div>
                        <div class="aui-chat-inner">
                            <div class="aui-chat-name">管理员</div>
                            <div class="aui-chat-content">
                                <div class="aui-chat-arrow"></div>
                                {{item.admin_send}}
                            </div>
                            <!-- <div class="aui-chat-status">
                            <i class="aui-iconfont aui-icon-info aui-text-danger"></i>
                            </div> -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/Base.js"></script>
<script type="text/javascript" src="../../script/commjs/router.js"></script>
<script type="text/javascript">
    var vm = null;
    apiready = function () {
        api.parseTapmode();
        vm = new Vue({
            el: '#app',
            data: {
                items: [],
                userimg: _GetStorage("user").headimg,
                user_name: _GetStorage("user").name,
                content: ''
            },
            mounted: function () {
                //根据uid查询反馈列表
                _Ajax(UrlRouter.feedback_Byuid + '?uid=' + _GetStorage("user").id, "get", {}, "json",
                    function (ret) {
                        if (ret.code == 0) {
                            vm.items = ret.data.rows;
                        }
                    });
            },
            methods: {
                save: function () {
                    _Ajax(UrlRouter.feedback, "post", {
                        values: {
                            uid: _GetStorage("user").id,
                            content: vm.content
                        }
                    }, "json", function (ret) {
                        if (ret) {
                            _toast('提交成功!请耐心等待回复~');
                        }
                    }, function () {

                    });
                }
            }
        })
    }
</script>

</html>